{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .background-image {
        background-image: url("{{ state.image.url }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        /* Enable flexbox */
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        height: 120vh;
        /* Full viewport height */
    }

    .background-image a:hover {
        text-decoration: none;
    }
</style>

<div class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- State Name and Description -->
                <h2>{{ state.name }}</h2>
                <p>{{ state.description }}</p>
            </div>
            <div class="col-md-6">
                <!-- Tourist Attractions -->
                <h2>Our Tourist Attractions</h2>
                <div class="row">
                    {% for place in tourist_places %}
                    <div class="col-md-4 mb-4">
                        <a href="{% url 'place_details' place.id %}">
                            <div class="card">
                                <img src="{{ place.images.first.image.url }}" class="card-img-top"
                                    alt="{{ place.name }}">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ place.name }}</h5>
                                    <p class="text-center">
                                        <i class="fas fa-star" style="color: gold;">
                                        </i>{{place.average_rating|default:0|floatformat:1 }}/5
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}